body {
  text-align: center;
  background-color: #242424;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* User Info Boxes */

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.user-stats {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.user-profile-picture {
  border: 5px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.blurb {
  width: 100%;
}

/* Playlist CSS */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-grid {
  margin: 10px 100px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.playlist-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 270px;
  padding: 20px;
  border: 2px solid black;
  /* border-radius: 20px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  height: 375px;
}

.playlist-img {
  width: 230px;
  height: 230px;
  /* border-radius: 20px; */
  border: 2px solid black;
}

.name-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  overflow: hidden
}

.playlist-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.playlist-name {
  font-weight: 800;
}

.playlist-grid-footer-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* make playlists table list for phones */
@media only screen and (max-width: 400px) {
  .playlist-img {
    width: 75px;
    height: 75px;
    /* border-radius: 20px; */
    border: 5px solid black;
  }

  .playlist-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 200px;
  }

  .playlist-details {
    margin-left: 20px;
    font-size: small;
  }
}

/* Tool tip CSS */
/* Tooltip container */
.tooltip {
  position: relative;
  margin: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.playlist-modal {
  color: #282c34;
}